*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
   
}

header {
    background-image: url(design/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/*global*/
.judul {
   font-size: 3rem;
   font-weight: bold;
   padding-top: 50px;
}
.subJudul {
    font-size: 1.7rem;
}
.subJudul2 {
    font-size: 1.7rem;
    font-weight: 600;
}
.subJudul2 a {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(144, 179, 255);
}


.konten {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


/*navbar*/
.navbar {
    width: 100%;
    height: 60px;
    z-index: 100;
    text-align: end;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
}
.navLogo {
    width: 70px;
    margin: 10px;
}
.navItem {
    padding: 20px;
    margin-top: 100px;
}
.navItemKanan {
    padding: 20px;
    margin-right: 50px;
    margin-top: 100px;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.2vmax;
    text-decoration: none; 
}
a:hover {
    color: rgb(240, 124, 255);
    animation-delay: 3ms;
}
@media screen and (max-width: 720px) {
    ul {
       display: none;
    }
    .judul {
        font-size: 2rem;
        font-weight: bold;
        padding-top: 50px;
     }
     .subJudul {
         font-size: 1.2rem;
     }
     .subJudul2 {
         font-size: 1.3rem;
         font-weight: 600;
     }
     .subJudul2 .yt {
         font-size: 1.5rem;
         font-weight: 600;
         color: rgb(144, 179, 255);
     }
   
     
}


/*konten1*/
.konten1 {
    width: 100vw;
    height: 85vh;
    background-color: rgb(22, 22, 22);
}

.crt {
    font-size: 1.7rem;
    text-align: left;
    margin-top: 5%;
    padding-right: 6%;
    padding-left: 6%;
}

@media screen and (max-width: 720px) {
    .konten1{
        width: 100vw;
        height: 65vh;
    }
   .crt {
       font-size: 0.9rem;
       text-align: left;
       margin-top: 5%;
       padding-right: 6%;
       padding-left: 6%;
   }
}



/* live subscribe */
.konten2{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: url(design/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.subscribe {
    width: 100vw;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
}
.sub {
    text-align: center;
    margin: 2%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 2.3rem;
}

@media screen and (max-width: 720px) {
    .konten2{
        width: 100vw;
        height: 70vh;
    }
    .sub{
        font-size: 1rem;
    }

}

/* konten3 */
.konten3{
    width: 100vw;
    height: 100vh;
    background-color: rgb(22, 22, 22);
}
@media screen and (max-width: 720px) {
    .konten3{
        width: 100vw;
        height: 60vh;
    }
}

/* konten3 sliders */

.container {
    margin-top: 20px;
    margin: 0 auto;
    width: 60%;
    height: 70%;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .slides {
    display: flex;
    height: 100%;
  }
  .slide {
    min-width: 100%;
    position: relative;
  }
  .slide img {
    width: 100%;
    height: 100%;
  }
  .slide-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #next-btn,
  #prev-btn {
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: white;
  }
  #next-btn:focus,
  #prev-btn:focus {
    outline: none;
  }

/* konten4 */
.konten4{
    width: 100vw;
    height: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 720px) {
    .konten4{
        width: 100vw;
        height: 80vh;
    }   
}

/* footer */
.footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 37, 37);
}
.judulF{
    font-size: 3rem;
    font-weight: bold;
    margin-left: 50px;
    padding-top: 80px;
    display: flex;
    align-items: center;
}
.garis{
    height: 30px;
    width: 2px;
    margin-left: 30px;
    background-color: white;
}
.logoF{
    width: 27px;
    margin-left: 30px;
}

.ket{
    font-size: 1.3rem;
    margin-left: 70px;
    margin-top: 15px;
    text-align: left;
}
/*medsos icon logo*/
.medsos{
    margin-left: 50px;
    font-size: 1.4rem;
    margin-top: 40px;
}
.iconItem{
    width: 30px;
    margin: 13px;
}
.icon{
    margin-top: 10px;
    margin-left: 70px;
}
.qr{
    width: 110px;
    margin-right: 50px;
}
.gridUtama{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.design{
    text-align: center;
    font-size: 15px;
    margin-top: 110px;
    padding-bottom: 50px;
}

@media screen and (max-width: 720px) {
    .ket{
        font-size: 0.9rem;
    }
    .qr{
        width: 70px;
    }
    .icon{
        width: 30px;
        margin: 20px;
        display: flex;
    }
    .judulF{
        font-size: 2rem;
        font-weight: bold;
        margin-left: 50px;
        padding-top: 80px;
        display: flex;
        align-items: center;
    }
}



/* komentar */